<div id="nav-wrapper">
    <nav id="navbar">
        <a href="/" class="brand-logo">            
            <span><i class="fas fa-virus"></i></span>
            <span>Covid19 Updates</span>            
        </a>            
        <div class="source-link">
            <a href=""><span><i class="fab fa-github"></i></span> <span>GitHub</span></a>
        </div>
    </nav>
</div>